{% extends 'article/base.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}

<div class="form_main">
      <div class="form_content">
        <div class="auth__header text-center">
          <h3>Регистрация аккаунта</h3>
          <p>Здравствуй молодой познаватель!</p>
        </div>

        <form action="{% url 'register' %}" method="post" class="form">
          {% csrf_token %}
          <!-- Input:Text -->
          {% for field in form %}
          <div class="form__field">
            <label>{{ field.label }}</label>
            {{ field }}

            {% for error in field.errors %}
              <p style="color: red;">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}


          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Регистрация" />
          </div>
        </form>
        <div class="regiss">
          <p>У вас есть аккаунт?</p>
          <a href="{% url 'login' %}">Вход</a>
        </div>
      </div>
    </div>
{% else %}
<div class="form_main">
      <div class="form_content">
        <div class="auth__header text-center">
          <a href="/">
          </a>
          <h3>Регистрация аккаунта</h3>
          <p>Здравствуй молодой познаватель!</p>
        </div>

        <form action="{% url 'login' %}" method="post" class="form">
            {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label >Username: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="username"
              placeholder="Enter your username..."
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label>Password: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password"
              placeholder="••••••••"
            />
          </div>
          <div class="regiss">
            <input class="enter_button" type="submit" value="Вход" />
            <a href="forgetpassword.html">Забили пароль?</a>
          </div>
        </form>
        <div class="regiss">
          <p>Создать аккаунт?</p>
          <a href="{% url 'register' %}">Регистрация</a>
        </div>
      </div>
    </div>
{% endif %}

{% endblock %}
