{% extends 'article/base.html' %}
{% block content %}

  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container_profile">
      <div class="layout">
        <div class="profile_part_1">
          <img class="avatar_profile" src="{{ profile.profile_image.url }}" />
          <div class="profile_part_1_1_1">
              <h2 class="pro_name">{{ profile.name }}</h2>
              <p class="pro_inf">{{ profile.short_info }}</p>
            <div class="profile_part_1_2">
              <div class="pro_bio">
                  <h3 class="pro_title">Обо мне</h3>
                <p class="pro_about">
                  {{ profile.bio }}
                </p>
              </div>
            </div>
          </div>
          {% if request.user.profile.id != profile.id %}
          <a href="{% url 'create-message' profile.id %}" class="profile_edit_1">Написать сообщение</a>
          {% endif %}
        </div>
        <div class="profile_part_2">

          <h3 class="title_articles">Мои Статьи:</h3>
          <div class="articleses">
            {% for article in profile.article_set.all %}
            <div class="razmet">
              <div class="card_artile">
                <a href="{% url 'article' article.id %}" class="profile_article">
                  <img class="profile_article_img" src="{{ article.featured_image.url }}"/>
                  <div class="profile_body_article">
                    <h3 class="profile_title_article">{{ article.title| truncatechars:35 }}</h3>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}