{% extends 'article/base.html' %}
{% block content %}
{% load static %}

    <main class="form_main">
        <div class="form_content">
            <div class="form_wraper">
                <a class="backButton" href="{% url 'user_account' %}"><img src="{% static 'images/left.png' %}" alt="left"></a>
                <br>

                <form class="form" action="{% url 'edit-account' %}" method="post" enctype="multipart/form-data">
                    <!-- Input:Text -->
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__field">
                        <label>{{ field.label }}: </label>
                        {{ field }}
                    </div>
                    {% endfor %}

                    <input class="enter_button" type="submit" value="Хорошо!" />
                </form>
            </div>
        </div>
    </main>

{% endblock %}