<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  <title>Science Portal</title>
</head>
<body>
{% include 'article/navbar.html' %}
<!--{% if messages %}-->
<!--{% for message in messages %}-->
<!--<div style="text-align: center;">-->
<!--  <div class="alert alert&#45;&#45;{{ message.tags }}">-->
<!--    <p class="alert__message">{{ message }}</p>-->
<!--    <button class="alert__close">x</button>-->
<!--  </div>-->
<!--</div>-->
<!--{% endfor %}-->
<!--{% endif %}-->

{% block content %}  {% endblock %}
</body>
</html>