{% load static %}
<header class="header">
    <div class="container container--narrow">
      <a href="" class="header__logo">
        <img src="{% static 'images/logo.jpg' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menuItem"><a href="">Статьи</a></li>
          <li class="header__menuItem"><a href="">Профиль</a></li>
          <li class="header__menuItem"><a href="">Сообщения / Общение</a></li>
          <li class="header__menuItem"><a href="">Избранное</a></li>
          <li class="header__menuItem"><a href="" class="btn btn--sub">Логин</a></li>
        </ul>
      </nav>
    </div>
  </header>