{% extends 'article/base.html' %}
{% block content %}
  <!-- Main Section -->
  <main class="single_article">
    <div class="container_single">
      <div class="layout">
        <div class="article_single_square_1">
          <img class="single_article_img" src="{{ article.featured_image.url }}"/>
          <h2 class="single_article_title">{{ article.title }}</h2>

          <h3 class="head_tags">Tags</h3>
          <div class="article_tags">
            {% for tag in article.tags.all %}
            <span class="tags_article">
              <small>{{ tag }}</small>
            </span>
            {% endfor %}
          </div>
        </div>
        <div class="single_article_a">Пользователь: <a href="{% url 'user_profile' article.owner.id %}" class="single_article_aa">{{ article.owner.name }}</a></div>
        <div class="article_single_square_2">
          <h3 class="single_article_about">О чем статья?</h3>
          <div class="single_article_info">
            {{ article.description }}
          </div>
        </div>
        <div class="article_single_square_3">
          <div class="comments">
            <h3 class="single_article_subtitle">Отзывы:</h3>
            <h5 class="article_rating">
              {{ article.vote_ratio }}% Положительный отзов ({{ article.vote_total }} Голос {{ article.vote_total| pluralize:'ов' }})
            </h5>
        </div>
        {% if request.user.profile.id in article.reviewers %}
        <p>You have already submitted your review for this article!</p>
        {% elif request.user.profile == article.owner %}
        <p>You can't review your own project!</p>
        {% elif request.user.is_authenticated %}
        <div class="article_single_square_4">
          <form class="form" action="{% url 'article' article.id %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <!-- Textarea -->
            <div class="form__field">
              <label>{{ field.label }} </label>
              {{ field }}
            </div>
            {% endfor %}
            <input class="enter_button" type="submit" value="Comments" />
          </form>
          {% else %}
          <a href="{% url 'login' %}"><p>Please login to leave a review</p></a>
          {% endif %}
        </div>
        <div class="commentList">
              {% for review in article.review_set.all %}
              <div class="comment">
                  <a href="{% url 'user_profile' review.owner.id %}">
                      <img class="avatar_single_article"
                      src="{{ review.owner.profile_image.url }}" alt="user" />
                  </a>
                  <div class="comment_details">
                    <a href="{% url 'user_profile' review.owner.id %}" class="comment_author">{{ review.owner.username }}</a>
                    <p class="comment_info">
                      {{ review.body | linebreaksbr }}
                    </p>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}