{% extends 'article/base.html' %}
{% load static %}
{% block content %}

<div class="opbs">
    <div class="wrap">
        <h1>Научный портал</h1>
        <div class="img-start">
            <img src="#">
        </div>
      <div class="content-start">
          Вас превествует портал "Молодая Сова"!
          Научный портал Молодая Сова представляет доступным различные публикации для талантов
          работающих в научных сферах.
      </div>

      <div>
          Здесь вы может выложить свои работы узнать много нового посмотреть чем занимаються ваши
          коллеги и дать им свою оценку. Вслучаи необходимости вы всегда можете связатся с тем кто выложил статью
          через наш мессенджер
      </div>

      <div>
          Мы рады тому что используете наш портал и будем рады обратной связи через нашу почту: Samurai_jack2@mail.ru
      </div>
    </div>
</div>

{% endblock %}