@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: url("/static/images/back1.jpg") 50% 0 no-repeat fixed;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}


.header {
  position: sticky;
  z-index: 111;
  background-color: var(--color-sub);
  background-color: #60ffc95e;
  padding: 1.5rem 0;
  border-radius: 20px;
  padding: 5px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo > img {
  height: 4.5rem;
  padding: 15px;
}

.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  font-size: 20px;
  font-weight: 700;
}

.header__menuItem > a {
  color: var(--color-light);
  font-weight: 300;
  font-weight: bold;
}

.toggle-menu > span {
  display: none;
}

.header__nav input[type='checkbox'] {
  display: none;
}

.header__nav input[type='checkbox']:checked ~ .header__menu {
  opacity: 1;
  pointer-events: all;
}

.header__menuItem{
    color: #df6ddb;
    background: #94d6f5;
    width: 142px;
    height: 50px;
    text-align: center;
    border-radius: 24px;
    flex-basis: initial;

}

#us{
    background: #ffffff;
    flex-basis: content;
    width: 260px;
}

.element, .count{
    width: 500px;
    background-color: #aadff1e6;
    flex-basis: 300px;
    border: 6px solid #e6e0fdb0;
    border-radius: 10px;
    margin: 20px 30px;
    box-shadow: 7px 7px 9px #eeff93;
}

.text_articles{
    height: auto;
}

.text{
    text-align: left;
    margin: 10px;
    color: #ffffff;
    font-size: 17px;
}

.text_art{

}

.element img{
    width: 100%;
}

.block img {
    height: 220px;
    max width: 300px;
}

.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}

.img +h2, .text h2{
    text-align: center;
    margin-bottom: 60px;
}

.log{
    height: 80px;
    width: 80px;
}

.img{
    text-align: center;
    margin-bottom: 60px;
}

.img img{
    height: 500px;
    width: 90%;
    border: 6px solid #FFF
}

.top{
    background: #663366;
    margin: 10px;
}

.top a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.blog_text, .count{
    padding: 20px;
    box-sizing: border-box;
}

.detail{
    background: white;
    padding: 20px 20px 60px;
    box-sizing: border-box;
}
.logo img{
    width: 170px;
    height: 120px;
}

.menu{
    background: lightyellow;
    padding: 10px;
    border-bottom: 6px solid #FFF;
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.menu li{
    margin-left: 40px;
}

.menu a{
    color: #663366;
    font-weight: bold;
    tex-decoration: none;
}

.omgg{
    text-align: center;
}

.omg{
    text-align: center;
    margin-bottom: 60px;
    height: 600px;
    width: 80%;
    border: 6px solid #FFF
}

.amg img{
    width: 600px;
}

.elementt, .countt{
    padding: 10px;
    background-color: lightyellow;
    text-align: center;
    border: 6px solid #FFF;
    margin: 20px 0;
}

.articles_head{
    font-size: 40px;
    color: #ffffff;
    box-shadow: 0px 20px 20px 2px #eeff93;

}

.start_hegest{
    text-align: center;
    color: #00fff3;
}

.block_content_start{
    display: flex;
    flex-direction: column;

}

.img_start{
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
    box-shadow: 7px 7px 9px #eeff93;
}

.start_img{
    text-align: center;
}

.content_start{
    color: #95fffb;
    padding: 25px;
    margin-left: 30px;
    margin-right: 30px;
}


.form_main{
  list-style: none;
  padding: 0.5rem 25rem;
  border: 5px;
  border-radius: 5px;
}

.form_content{
    background-color: #68ffdc8c;
    width: 400px;
    height: auto;
    padding: 10px;

}

.form_wraper{
  font-size: 1.5rem;
  color: var(--color-sub);
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.form{
    display: block;
    border: 0.7rem;
    padding: 10px;
    text-align: left;

}

.form__field {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-style: normal;
    width: 100%;
}

.enter_button{
    width: 95%;
    height: auto;
    text-align: center;

    border-width: 1px;
    padding: 5px 50px 2px;

}

.backButton{
    padding: 10px;
    margin: 10px;

}

label, input{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#id_tags_0 {
    display: block;



}

.regiss{
    padding: 5px;
}


.single_article{
    padding: 50px;
    margin: 25px;

}
.container_single{

}
.layout{

}
.article_single_square_1{
    display: block;
    width: auto;
    height: 500px;

}

.article_single_square_2{
    display: block;
}
.article_single_square_3{
    display: block;
}

.article_single_square_4{
    display: block;
    color: #ffffff;
    background-color: #68ffdc8c;
    width: 500px;
    height:auto
}

.single_article_img{
    float: left;
    width: 600px;
    height: 450px;
    box-shadow: 7px 7px 9px #eeff93;

}
.single_article_a{
    color: pink;
    font-size: 18px;
}
.single_article_aa{
    color: #ffffff;
}
.single_article_title{
    width: 565px;
    margin-left: 650px;
    color: pink;
    font-size: 30px;
}
.single_article_about{
    font-size: 20px;
    color: #ffffff;
}

.square_fail{
    width:60px;
    height:90px;
    margin: 20px;
    margin-left: 30px;
    text-align: center;
}

.faill{

}

.text_fail{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
   }

.fail_img{
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.head_tags{
    color: #99f9ff;
    font-size: 25px;
    margin-left: 650px;
}

.single_article_info{
    padding: 15px;
    margin: 0;
    display: block;
    width: 500px;
    height: 250px;
    border: 20px;
    border-radius: 19px;
    border-color: pink;
    background-color: #74e2fb91;
    color: #ffffff;
}
.article_tags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 5px;

    color: #ffffff;
    font-size: 22px;
    margin-left: 630px;

}
.tags_article{
    margin: 10px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding: 2px;
    color: #ffffff;
    background: #94d6f5;
    text-align: center;
    border-radius: 8px;
}
.comments{
    display: block;
}
.single_article_subtitle{
    color: pink;
    font-size: 20px;
    margin-top: 40px;
}
.article_rating{
    color: #ffffff;
    font-size: 20px;
}
.commentList{
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.comment{
    display: flex;
    flex-direction: row;
    align-items: center
}
.avatar_single_article{
    width: 70px;
    height: 70px;

}
.comment_details{
    width: 300px;
    height: auto;
    background-color: #94d6f5;
    margin: 10px;
    border-radius: 10px;

}
.comment_author{
    color: #db3350;
    font-size: 20px;
    padding:10px;
}
.comment_info{
    padding:10px;
    color: #ffffff
}

.container_profile{
    padding: 50px;
    margin: 25px;
}
.profile_part_1{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: auto;



}
.profile_part_1_1_1{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.profile_part_1_1_2{

}
.avatar_profile{
    text-align: left;
    width: 300px;
    height: 300px;
    box-shadow: 7px 7px 9px #eeff93;
}
.pro_name{
    align-items: center;
    margin: 0px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 30px;
}
.pro_inf{
    align-items: center;
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
    padding:10px;
    border: 6px;
    border-radius:20px;
    color: #ff40cb;
    font-size: 18px;
    background-color: #94d6f5;
    width: 600px;
    height: auto;
}
.profile_part_1_2{

}
.pro_bio{
    align-items: center;
    margin: 0px;
    margin-left: 20px;

}
.pro_title{
    color: #ffffff;
    font-size: 26px;

}
.pro_about{
    padding:10px;
    border: 6px;
    border-radius:20px;
    color: #ff40cb;
    font-size: 18px;
    background-color: #94d6f5;
    width: 600px;
    height: auto;

}

.profile_edit{
    width: 90px;
    height: 40px;
    background-color: #ff40cb;
    margin: 15px;
    padding-top: 20px;
    text-align: center;
    border: 6px;
    border-radius: 20px;
    color: #94d6f5;
    margin-left: 100px;
    font-weight: bold;
}

.profile_edit_1{
    width: 90px;
    height: 60px;
    background-color: #ff40cb;
    margin: 15px;
    padding-top: 20px;
    text-align: center;
    border: 6px;
    border-radius: 20px;
    color: #94d6f5;
    margin-left: 100px;
    font-weight: bold;
}

.profile_part_2{
    padding: 10px;
    margin: 10px;
    width: 1200px;
}

.title_articles{
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.articleses{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.razmet{
    flex-basis: 300px;

}


.card_artile{
    display:block;
    margin:20px;
    width: 200px;
    height: auto;

}

.profile_article{

}

.profile_article_img{
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px 5px blue;
    box-shadow: 7px 7px 9px #eeff93;
}


.profile_body_article{

}

.profile_title_article {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

a, li{
    text-decoration: none;
}

.profile_authors_article{

}

.profile_rew_article{

}

.tabl_edit_article{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}
#edit{
    background-color: #ff40cb;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
}
#delete{
    width: 20px;
    background-color: #ff40cb;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
}

.inbox_message{
    padding: 20px;
}

.content_box{
    margin: 40px;
    margin-bottom: 40px;
    padding: 20px;
    width: 1100px;
    border: 20px;
    border-radius:30px;

    height: auto;
    background-color: #e777e3d6;
}

.inbox_title{
    font-size: 20px;
}



.inbox_message {
  height: 90vh;
}

.inbox_title,
.inbox_title span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #b7e4ff;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 3rem;
}

.inbox_title span {
  color: #ffffff;
}

.messages {
  list-style: none;
  background: #d574749c;
  padding: 0.5rem 3rem;
  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.message {
  padding: 1.5rem 0;
}

.message > a span {
  font-size: 1.45rem;
  font-weight: 500;
  color: #ffffff;
}


.message > a {
  display: flex;
  gap: 1rem;
}

.message_author,
.message_date {
  flex-basis: 25%;
}

.message_subject {
  flex-basis: 50%;
}

.message_date {
  text-align: right;
}

.content__box1{
    margin: 40px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding: 20px;
    width: 400px;
    border: 20px;
    border-radius:30px;

    height: auto;
    background-color: #e777e3d6;
}

.deltext{
    color: #ffffff;
    font-size: 20px;
}

.dela{
    font-size: 19px;
    color: black;
}

.delinput{
    margin-top: 20px;
    font-weight: bold;
    width:70px;
}

#message_unread {
  margin-bottom: 5px;
  background: #f3d9d99c;
  padding: 0.5rem 3rem;
  border-radius: 0.7rem;
  font-size: 24px;
  color: red;
}

.content__box{
    display: block;
    width: 400px;
    height: auto;
    margin: 30px;
    padding: 20px;
    background-color: #db7dcc;
    border-radius:20px;
    margin-left: 150px;
    margin-top: 40px;
}

.message{


}

.message__subject{
    text-align: center;
    margin-top: 5px;
    color: #c4ffe4;
}

.message__date{
    font-size:15px;
    color: blue;
}

.message__body{
    display: block;
    width: 90%;
    height: auto;
    background-color: #f5baba;
    padding: 20px;
    border-radius: 20px;
}

.backButton1{
    padding: 5px;
    margin: 0px;
}

.buckimg_1{
    width:50px;
    height:50px;
}

.message__author{
    color: #ffffff;
}

.sidebar{
    margin-left: 65px;
    text-align:left;

}

.cat{
    display: inline-flex;
    list-style: none;
    gap: 30px;
}

.nonslected{
    color: #red;
    margin: 0px;
    width: 150px;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #FFF;
    font-weight: bold;
    background: #fb46d3;
    align-items: center;
    border-radius: 20px;

}

.selected{
    color: #ffffff;
    margin: 0px;
    width: 150px;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #FFF;
    font-weight: bold;
    background: #fd2491;
    align-items: center;
    border-radius: 20px;
}

#non{

}

#nan{
    height:40px;
    background: #fb46d3;
}
